# Ignore all HTML pages inside public
public/*.html
!public/details.html
!public/payment.html

# Ignore Node dependencies
node_modules/
npm-debug.log
yarn-error.log

# Ignore environment & system files
.env
.DS_Store

# Ignore build caches
dist/
.cache/


